
/************************************************
 * ROFI Color theme
 * User: Daguhh
 * Copyright: 2020 Daguhh
 ***********************************************/

#window {
    location:              north east;
    x-offset:              -0.6%;
    y-offset:               5%;
}
